*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar{
    width: 220vh;
    height: 40px;
    background-color: red;
    color: blue;
}


.one{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    font-size: 25px;
    font-weight: 900px;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: -30px 130px;
    list-style: none;
    font-size: 25px;
    font-weight: 900px;
    gap:30px;
    color: blue;
}

img{
    display: flex;
    width: 100px;
    margin: -75px 1170px;
}


#navbar.img{
    position: fixed;
}
@media (max-width: 600px){
    #navbar{
        color: white;
    }
}